[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/levin/Desktop/microsoft-edge.desktop]
row=5
col=0

[/home/levin/Desktop/io.dbeaver.DBeaver.desktop]
row=4
col=0

[/home/levin/Desktop/code.desktop]
row=2
col=0

[/home/levin/Desktop/chromium.desktop]
row=0
col=1

[/home/levin/Desktop/jetbrains-toolbox.desktop]
row=3
col=0

[/]
row=0
col=0

[/home/levin]
row=1
col=0

