[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/levin/Desktop/org.telegram.desktop.desktop]
row=2
col=1

[/home/levin/Desktop/eusoft-eudic.desktop]
row=3
col=1

[/home/levin/Desktop/code.desktop]
row=5
col=0

[/home/levin/Desktop/jetbrains-toolbox.desktop]
row=6
col=0

[/home/levin/Desktop/baidunetdisk.desktop]
row=4
col=0

[Trash]
row=2
col=0

[/home/levin]
row=3
col=0

