[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/levin/Desktop/code.desktop]
row=3
col=0

[/home/levin/Desktop/feishu.desktop]
row=4
col=0

[/home/levin/Desktop/jetbrains-toolbox.desktop]
row=2
col=0

[/]
row=0
col=0

[/home/levin]
row=1
col=0

